<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="column">
        <div class="hexagon">
          <div class="hexagon-inside">
            <div class="hexagon-image">
              <img class="hexagon-img" src="assets/image/sports.jpg">
            </div>
          </div>
        </div>
        <div class="text"><a routerLink="articles" (click)="click('sports')" style="color: white;">
            <h4><strong><i>Sports</i></strong></h4>
          </a></div>
      </div>

      <div class="column">
        <div class="hexagon">
          <div class="hexagon-inside">
            <div class="hexagon-image">
              <img class="hexagon-img" src="assets/image/business.jpg">
            </div>
          </div>
        </div>
        <div class="text"><a routerLink="articles" (click)="click('business')" style="color: white;">
            <h4><strong><i>Business</i></strong></h4>
          </a></div>
      </div>
      <div class="column">
        <div class="hexagon">
          <div class="hexagon-inside">
            <div class="hexagon-image">
              <img class="hexagon-img" src="assets/image/politics.jpg">
            </div>
          </div>
        </div>
        <div class="text"><a routerLink="articles" (click)="click('politics')" style="color: white;">
            <h4><strong><i>Politics</i></strong></h4>
          </a></div>
      </div>


    </div>
    <div class="row">
      <div class="column">
        <div class="hexagon">
          <div class="hexagon-inside">
            <div class="hexagon-image">
              <img class="hexagon-img" src="assets/image/technology.jpeg">
            </div>
          </div>
        </div>
        <div class="text"><a routerLink="articles" (click)="click('technology')" style="color: white;">
            <h4><strong><i>Technology</i></strong></h4>
          </a></div>
      </div>
      <div class="column">
        <div class="hexagon">
          <div class="hexagon-inside">
            <div class="hexagon-image">
              <img class="hexagon-img" src="assets/image/worldnews.jpg">
            </div>
          </div>
        </div>
        <div class="text"><a routerLink="articles" (click)="click('world news')" style="color: white;">
            <h4><strong><i>World News</i></strong></h4>
          </a></div>
      </div>

      <div class="column">
        <div class="hexagon">
          <div class="hexagon-inside">
            <div class="hexagon-image">
              <img class="hexagon-img" src="assets/image/social media.jpg">
            </div>
          </div>
        </div>
        <div class="text"><a routerLink="articles" (click)="click('social media')" style="color: white;">
            <h4><strong><i>Social Media</i></strong></h4>
          </a></div>
      </div>

    </div>

  </div>
</div>



























<!-- <div class="container">
  <div class="row">
    <div class="column">
      <div class="card">
        <img class="card-img" src="assets/image/sport.jpg">
        <div class="card-img-overlay">
          <h3><i>Sports</i></h3>
        <br>
        <p><i><strong><a routerLink="articles" (click)="click('sports')">Click here</a> to get news related to Sports</strong></i></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img class="card-img" src="assets/image/business.jpg">
        <div class="card-img-overlay">
          <h3><i>Business</i></h3>
        <br>
        <p><i><strong><a routerLink="articles" (click)="click('business')" >Click here</a> to get news related to Business</strong></i></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img class="card-img" src="assets/image/politics.jpg">
        <div class="card-img-overlay">
          <h3><i>Politics</i></h3>
          <br>
          <p><i><strong><a routerLink="articles" (click)="click('politics')">Click here</a> to get news related to Politics</strong></i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img class="card-img" src="assets/image/technology.jpg">
        <div class="card-img-overlay">
          <h3><i>Technology</i></h3>
        <br>
        <p><i><strong><a routerLink="articles" (click)="click('technology')">Click here</a> to get news related to Technology</strong></i></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img class="card-img" src="assets/image/worldnews.jpg">
        <div class="card-img-overlay">
          <h3><i>World News</i></h3>
        <br>
        <p><i><strong><a routerLink="articles" (click)="click('world news')">Click here</a> to get news related to World News</strong></i></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img class="card-img" src="assets/image/social media.jpg">
        <div class="card-img-overlay">
          <h3><i>Social Media</i></h3>
        <br>
        <p><i><strong><a routerLink="articles" (click)="click('social media')">Click here</a> to get news related to Social Media</strong></i></p>
        </div>
      </div>
    </div>
  </div>
  
</div> -->
