.bg-image {
  /* The image used */
  background-image: url("/assets/image/s1.png");
  
  -webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -1;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hexagon {
  height: 152px;
  width: 250px;
  background: grey;
  transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  border: 2px;
  border-color: black;
  /* margin:10px auto; */
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  visibility: hidden;
}
.column{
  float: left;
  
}
.text{
  margin-left: 95px;
}
.a{
  color: gray;
}
.hexagon-inside{
  width: 100%;
  height:100%;
  background: green;
  border: 2px;
  border-color: black;
  transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  overflow: hidden;
  visibility: hidden;
}
.hexagon-image{
  width: 100%;
  height: 100%;
  border: 2px;
  border-color: black;
  background-position:center;
  background-size: 100% 100%;
  transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
}
.jumbotron{
    
  background-color: black;
  margin: 50px auto;
  width: 75%;
  height:300%;
  padding: 20px;
  border-radius: 14px;
}
/* .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  Remove extra left and right margins, due to padding
  .row {margin: 50px 10px 10px 250px;
  padding: 5px 5px;}
  
  Clear floats after the columns
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  Responsive columns
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
    .card{
      width: 50%;
      height: 50%;
    }
  }
  
  Style the counter cards
  .card{
    width: 100%;
    height: 100%;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(218, 211, 211, 0.986);
    padding: 16px;
    text-align: center;
    background-color: black;
    border-radius: 4px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
.card-img
{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
} */