.jumbotron{
    background-color: #343a40;
    color: wheat;
    width: 50%;
    height: fit-content;
    padding: 25px;
    margin: 30px auto;
    border-radius: 14px;
}
.jumbotron h2{
    color: blue;
    text-decoration: underline;
}