.jumbotron{
    background-color: black;
    padding: 25px;
    border-radius: 14px;
    width: fit-content;
    height: fit-content;
    color: white;
    margin: 50px 0 0 400px;
    align-items: center;
    display: flex;
}
.jumbotron h2{
    color: blue;
    text-decoration: underline;
}
.flex{
    display: flex;
    flex-direction: row;
}
.jumbotron input{
    border-radius: 12px;
    border:1px;
    outline: none;
}
