.jumbotron{
    
    background-color: #343a40;
    margin: 30px auto;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 14px;
}
.jumbotron h2{
    color: blue;
    text-decoration: underline;
}
.jumbotron label,p{
    color: wheat;
}
.flex{
    display: flex;
    flex-direction: row;
}
.jumbotron input{
    width: 100%;   
    border: 0px;
    border-radius: 14px;
    height: 100%;
    outline: none;
}
