.jumbotron{
    background-color: white;
}
h3
{
    float: right;
}
a{
    text-decoration: underline;
    color: blue;
}
.oval {
    height: 100px;
    width: 250px;
    color:wheat;
    background-color: #343a40;
    border-radius: 50%;
    margin:30px auto;
  }