<div class="container">
    <div class="jumbotron">
      <div class="bg"></div>
        <h1>Welcome to the Personalised NewsBytes!!</h1>
        <h3>
            <i>
                We understand you don’t have time to go through long news articles everyday.<br>
                So we cut the clutter and deliver them, in 60-word shorts.
                Short news for the mobile generation.
            </i>
        </h3>
            <a routerLink="/user/signup"><strong><i><p>Sign up to get prersonalised NewsBytes everyday!&nbsp;</p></i></strong></a>
    </div>
</div>
